.founder{
  position: relative;
  @include media(1200){
    margin-top: -200px;
  }
  &::before{
    content: '';
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../images/stars.webp') center / cover no-repeat;
  }
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__cloud{
    position: absolute;
    top: -140px;
    right: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 1000px;
  }
  &__title{
    font-family: 'Misto';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B1FFFF;
    margin-bottom: 100px;
    @include media($md){
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
  &__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #F8F8FB;
    position: relative;
    margin-bottom: 150px;
    @include media($md){
      font-size: 18px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(75, 104, 255, 0.4);
      filter: blur(25px);
      backdrop-filter: blur(13px);
      border-radius: 6px;
      z-index: -1;
    }
    span{
      color: #B1FFFF;
      text-decoration: underline;
    }
  }
}