.founder{
  position: relative;
  padding-top: 134px;
  margin-bottom: 100px;
  @include media(1200){
    margin-top: -200px;
  }
  &::before{
    content: '';
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background: url('../images/stars.webp') center / cover no-repeat;
    @include media($md){
      top: 300px;
    }
  }
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__cloud{
    position: absolute;
    top: -10px;
    right: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 1000px;
    z-index: 1;
    @include media(1200){
      top: 0;
    }
    @include media($lg){
      top: 200px;
    }
    @include media($md){
      top: 50px;
    }
    @include media(500){
      top: 100px;
    }
    @include media(430){
      top: 150px;
    }
  }
  &__title{
    font-family: 'Misto';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B1FFFF;
    margin-bottom: 100px;
    @include media($md){
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
  &__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #F8F8FB;
    position: relative;
    margin-bottom: 150px;
    @include media($md){
      font-size: 18px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(75, 104, 255, 0.4);
      filter: blur(25px);
      backdrop-filter: blur(13px);
      border-radius: 6px;
      z-index: -1;
    }
    span{
      color: #B1FFFF;
      text-decoration: underline;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &:last-of-type{
      @include media(1200){
        flex-direction: column;
        margin-top: 100px;
      }
    }
    @include media(1200){
      flex-direction: column;
      margin-top: 240px;
    }
    @include media($sm){
      margin-top: 0;
    }
  }
  &__item{
    &-img{
      z-index: -2;
      max-width: 100%;
    }
    &_with-img{
      position: relative;
      left: -100px;
      background: url('../images/hole-2.webp') 100% 100% / contain no-repeat;
      width: 50%;
      z-index: -3;
      @include media(1200){
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &_2{
        position: relative;
        right: -100px;
        width: 50%;
        z-index: -3;
        @include media(1524){
          right: 0;
        }
        @include media(1200){
          width: 100%;
          order: -1;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 100px;
        }
      }
    }
    &-bottom{
      width: max-content;
      display: flex;
      justify-content: center;
      margin: -200px auto 0 140px;
      position: relative;
      @include media(1200){
        margin: -200px auto 0 auto;
      }
      @include media($md){
        margin: -150px auto 0 auto;
      }
      @include media(470){
        margin: -100px auto 0 auto;
      }
      &::before{
        content: '';
        background: url('../images/insta.webp') 100% 100% / contain no-repeat;
        position: absolute;
        left: 0;
        top: 13px;
        width: 24px;
        height: 24px;
        @include media($lg){
          top: 8px;
        }
        @include media($sm){
          top: 4px;
          width: 15px;
          height: 15px;
          left: 6px;
        }
      }
      &::after{
        content: '';
        background: url('../images/youtube.webp') 100% 100% / contain no-repeat;
        position: absolute;
        left: -2px;
        bottom: 13px;
        width: 30px;
        height: 22px;
        @include media($lg){
          bottom: 8px;
        }
        @include media($sm){
          bottom: 4px;
          width: 18px;
          height: 15px;
          left: 4px;
        }
      }
      &_2{
        width: max-content;
        display: flex;
        justify-content: center;
        margin: -227px auto 0 auto;
        position: relative;
        @include media(1400){
          margin: -190px auto 0 auto;
        }
        @include media(1200){
          margin: -270px auto 0 auto;
        }
        @include media($lg){
          margin: -225px auto 0 auto;
        }
        @include media($md){
          margin: -173px auto 0 auto;
        }
        @include media(470){
          margin: -100px auto 0 auto;
        }
      }
    }
    &-title{
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #B1FFFF;
      @include media(1400){
        font-size: 25px;
      }
      @include media($lg){
        font-size: 26px;    
      }
      @include media($sm){
        font-size: 18px;  
      }
      &_primary{
        position: relative;
        margin-right: 50px;
        padding-left: 34px;
        @include media($sm){
          margin-right: 15px;
        }
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          background: rgba(64, 64, 70, 0.6);
          filter: blur(25px);
          backdrop-filter: blur(13px);
          border-radius: 6px;
          z-index: -1;
        }
        &_2{
          color: #4B68FF;
          position: relative;
          margin-right: 50px;
          padding-left: 34px;
          @include media($sm){
            margin-right: 45px;
            margin-left: -22px;
          }
        }
      }
      &_secondary{
        color: #fff;
        &_2{
          color: #000;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            background: url('../images/insta-1.webp') center / cover no-repeat;
            top: 50%;
            transform: translateY(-50%);
            left: -38px;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    &_with-text{
      background: rgba(64, 64, 70, 0.8);
      backdrop-filter: blur(4px);
      border-radius: 8px;
      padding: 20px;
      width: 50%;
      margin-top: 200px;
      z-index: 2;
      @include media(1200){
        margin-top: 100px;
        max-width: 500px;
        width: 100%;
      }
      @include media($sm){
        margin-top: 50px;
      }
    }
    &-p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.03em;
      color: #DEDEDE;
      @include media($md){
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}