.intro{
  margin-top: 81px;
  position: relative; 
  &__top{
    position: relative;
    height: 50px;
    margin: 0 auto;
    top: 20px;
    left: 0px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: -3;
    @include media(1500){
      padding-left: 15px;
      display: none;
    }
    @include media(1400){
      display: none;
    }
    &-inner{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
    }
    &-item{
      display: flex;
      align-items: center;
      &__parent{
        width: 100%;
        display: flex;
        align-items: center;
      }
      &__img{
        margin-right: 35px;
        @include media(1780){
          max-width: 50px;
        }
        @include media(1500){
          margin-right: 20px;
        }
      }
      &__p{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        background: radial-gradient(64.13% 115.11% at 60.03% -16.01%, #B1FFFF 0%, #1E9DFF 41.23%, #7668FE 66.48%, #CD6BFF 100%);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        margin-right: 40px;
        @include media(1780){
          font-size: 20px;
        }
        @include media(1500){
          margin-right: 30px;
        }
      }
    }
  }
  &__body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 250px;
    @include media($xxl){
      padding-top: 360px;
      padding-bottom: 200px;
    }
    @include media($xl){
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
    }
    @include media($lg){
      padding-top: 300px;
    }
    @include media($md){
      padding-top: 233px;
    }
    @include media($sm){
      padding-top: 190px;
    }
    @include media(530){
      padding-top: 140px;
    }
    @include media(440){
      padding-top: 100px;
    }
  }
  &__title{
    font-family: 'Misto';
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 140%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #4F4F4F;
    -webkit-text-stroke: 0.5px #4B68FF;
    max-width: 830px;
    z-index: 40;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: linear-gradient(90.13deg, #FFFFFF 0.1%, #FFFFFF 96.9%);
      filter: blur(100px);
      z-index: -4;
      @include media($md){
        width: 200px;
        height: 200px;
      }
    }
    @include media(1400){
      font-size: 75px;
    }
    @include media(1200){
      text-align: center;
    }
    @include media($lg){
      font-size: 55px;
    }
    @include media($md){
      font-size: 44px;
    }
    @include media($sm){
      font-size: 36px;
    }
    @include media(422){
      font-size: 26px;
    }
  }
  &__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B1FFFF;
    text-shadow: 0px 0px 5px rgba(177, 255, 255, 0.7);
    background: #4B68FF;
    box-shadow: 0px 2px 25px rgba(75, 104, 255, 0.8);
    padding: 24px 0;
    max-width: 300px;
    width: 100%;
    border-radius: 6px;
    position: relative;
    margin-bottom: 35px;
    transition: 200ms ease;
    @include media(1400){
      margin-bottom: 20px;
    }
    @include media($xl){
      margin-top: 50px;
    }
    @include media($lg){
      font-size: 16px;
    }
    @include media($sm){
      padding: 12px 0;
      max-width: 220px;
      margin-top: 20px;
    }
    @media (hover: hover){
      &:hover{
        color: #404046;
        text-shadow: 0px 0px 5px rgba(177, 255, 255, 0.7);
        background: #B1FFFF;
        box-shadow: 0px 2px 25px #25F8F4;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border-radius: 6px;
      background: radial-gradient(64.13% 115.11% at 60.03% -16.01%, #B1FFFF 0%, #1E9DFF 41.23%, #7668FE 66.48%, #CD6BFF 100%);
      z-index: -1;
      transition: 200ms ease;
    }
  }
  &__bg{
    z-index: -2;
    position: absolute;
    top: -80px;
    max-width: 100%;
    width: 100%;
    object-position: bottom;
    @include media($lg){
      top: -40px;
    }
    @include media($sm){
      top: -20px;
    }
  }
}