.result{
  position: relative;
  margin-bottom: 25px;
  padding-top: 134px;
  margin-top: -134px;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background: url('../images/stars.webp') center / cover no-repeat;
  }
  &__img{
    max-width: 100%;
    width: 100%;
  }
}