.stages{
  padding-top: 134px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 420px;
    left: 0;
    width: 100%;
    height: calc(100% - 420px);
    z-index: -1;
    background: url('../images/stars.webp') center / cover no-repeat;
    @include media($md){
      top: 220px;
      height: calc(100% - 220px);
    }
  }
  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    font-family: 'Misto';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B1FFFF;
    margin-bottom: 63px;
    @include media($md){
      font-size: 24px;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @include media(1200){
      flex-direction: column;
      align-items: center;
    }
  }
  &__col{
    max-width: 33.333%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media(1200){
      max-width: 500px;
    }
    &:not(:last-of-type){
      @include media(1200){
        margin-bottom: 25px;
      }
    }
    &:nth-child(1){
      .stages__item{
        height: 250px;
        position: relative;
        @include media(1200){
          height: 330px;
        }
        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 117.93px;
          height: 127.01px;
          transform: translate(-50%, -50%);
          background: url('../images/stages-1.webp') center / contain no-repeat;
        }
      }
    }
    &:nth-child(2){
      margin: 0 30px;
      .stages__item{
        height: 330px;
        position: relative;
        @include media(1200){
          height: 330px;
        }
        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 108px;
          height: 93.55px;
          transform: translate(-50%, -50%);
          background: url('../images/stages-2.webp') center / contain no-repeat;
        }
      }
    }
    &:nth-child(3){
      .stages__item{
        height: 450px;
        position: relative;
        @include media(1200){
          height: 330px;
        }
        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 168px;
          height: 34.04px;
          transform: translate(-50%, -50%);
          background: url('../images/stages-3.webp') 100% 100% / cover no-repeat; 
        }
      }
    }
  }
  &__item{
    width: 100%;
    background: #414141;
    backdrop-filter: blur(25px);
    border-radius: 13px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 200ms ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
    z-index: 5;
    &:hover{
      &:after{
        opacity: 1;
      }
      .stages__item-link{
        opacity: 1;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(64.13% 115.11% at 60.03% -16.01%, #B1FFFF 0%, #1E9DFF 41.23%, #7668FE 66.48%, #CD6BFF 100%);
      opacity: 0;
      transition: 200ms ease;
      z-index: -1;
    }
    &-link{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #333333;
      z-index: 1;
      opacity: 0;
      transition: 200ms ease;
    }
  }
  &__subtitle{
    font-family: 'Misto';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #F2F2F2;
  }
  &__p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #B1FFFF;
  }
  &__clouds{
    margin-top: -300px;
    max-width: 100%;
    @include media(1400){
      margin-top: -250px;
    }
    @include media(992){
      margin-top: -150px;
    }
    @include media($sm){
      margin-top: 0;
    }
  }
}

.stages__col:nth-of-type(1) .stages__item:hover{
  &::before{
    background: url('../images/stages-1-hover.webp') center / contain no-repeat;
  }
}
.stages__col:nth-of-type(2) .stages__item:hover{
  &::before{
    background: url('../images/stages-2-hover.webp') center / contain no-repeat;
  }
}
.stages__col:nth-of-type(3) .stages__item:hover{
  &::before{
    background: url('../images/stages-3-hover.webp') center / contain no-repeat;
    width: 168px;
    height: 26.04px;
  }
}