*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  &:focus,
  &:active{
    outline: none;
  }
}
img{
  pointer-events: none;
}
body{
  background: rgb(36,55,66);
  background: linear-gradient(180deg, rgba(36,55,66,1) 0%, rgba(42,42,42,1) 100%);
  font-family: 'Raleway';
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #B1FFFF;
}

::-webkit-scrollbar-thumb:hover {
  background: #B1FFFF;
}
.bg{
  position: absolute;
  z-index: -1;
  top: 133px;
  left: 0;
  width: 100%;
  min-height: 100%;
  mix-blend-mode: color-dodge;
  opacity: 0.4;  
  object-fit: cover;
}
.vis{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // background: url('../images/mission-stars.webp') center / cover no-repeat;
    mix-blend-mode: color-dodge;
    z-index: -1;
    opacity: 0.4;
  }
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff; 
}
.space{
  position: relative;
  height: 100px;
  width: 100%;
}
.title-with-quote{
  position: relative;
  font-family: 'Misto';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  max-width: max-content;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  @include media($md){
    font-size: 36px;
  }
  @include media($sm){
    font-size: 26px;
  }
  &::before{
    content: '';
    background: url('../images/quote-left.webp');
    position: absolute;
    width: 53.85px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    left: -73px;
  }
  &::after{
    content: '';
    background: url('../images/quote-right.webp');
    position: absolute;
    width: 53.85px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    right: -73px;
  }
}

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(75,104,255,0.9);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
  &.fff{
    background: rgba(#fff, 0.9);
  }
  &:target{
    opacity: 1;
    visibility: visible;
    .popup__body{
      opacity: 1;
      transform: perspective(6000) rotateX(0) translate(-50%, -50%);
    }
  }
  &__close{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-btn{
      position: absolute;
      top: 62px;
      right: 58px;
      width: 25px;
      height: 25px;
      @include media($md){
        top: 25px;
        right: 25px;
      }
      &__img{
        width: 25px;
        height: 25px;
      }
    }
  }
  &__body{
    position: absolute;
    z-index: 1;
    max-width: 800px;
    width: calc(100% - 30px);
    top: 50%;
    left: 50%;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 60px;
    background: #fff;
    border-radius: 13px;
    transition: 500ms ease;
    opacity: 0;
    transform: perspective(6000px) rotateX(-100deg) translate(-50%, -100%);
    @include media($md){
      padding: 25px;
    }
    &.grad{
      background: linear-gradient(180deg, #B9E6FF 0%, #4B68FF 100%);
      max-width: 1200px;
      padding-bottom: 15px;
    }
  }
  &__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #404046;
    @include media($md){
      font-size: 22px;
      margin-right: 40px;
    }
  }
  &__p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #404046;
    margin-top: 30px;
    margin-bottom: 100px;
    @include media($md){
      font-size: 16px;
    }
  }
  &__form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include media($md){
      margin-bottom: 25px;
    }
    @include media($sm){
      flex-direction: column;
      align-items: center;
    }
  }
  &__input{
    max-width: 463px;
    width: 100%;
    padding-bottom: 2px;
    padding-left: 2px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #85858C;
    border: none;
    border-bottom: 2px solid #404046;
  }
  &__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px; 
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #404046;
    border: none;
    background: none;
    position: relative; 
    cursor: pointer;
    padding-left: 10px;
    margin-left: 60px;
    @include media($sm){
      margin-top: 25px;
      margin-left: 0;
    }
    &::before{
      content: '';
      position: absolute;
      left: -37px;
      top: 50%;
      width: 27px;
      height: 36px;
      background: url('../images/send.webp') center / cover no-repeat;
      transform: translateY(-50%);
    }
  }
  &2{
    &__img{
      max-width: 100%;
      box-shadow: 0px 3px 15px 0px #00000066;
      border-radius: 8px;
      margin-bottom: 50px;
    }
    &__title{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
      color: #4B68FF;
      margin-bottom: 10px;
      @include media($md){
        text-align: center;
      }
    }
    &__p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: #85858C;
      margin-bottom: 55px;
      @include media($md){
        text-align: center;
      }
    }
    &__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media($md){
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &__price{
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 140%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #4B68FF;
    }
    &__btn{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      letter-spacing: 0.03em;
      color: #4B68FF;
      position: relative;
      @include media($md){
        margin-top: 25px;
      }
      &:hover::before{
        left: -40px;
      }
      &::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        left: -45px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../images/popup2__btn.webp') center / cover no-repeat;
        transition: 200ms ease;
      }
    }
  }
  &_s{
    &__tag{
      font-style: normal;
      font-weight: 500;
      margin-top: 30px;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #F2F2F2;
    }
    &__body-scroll{
      max-height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -15px;
      padding-right: 15px;
    }
    .popup__body{
      max-height: 90vh;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    &__row{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
      @include media($md){
        flex-direction: column;
        align-items: flex-start;
      }
      &.gray{
        margin-bottom: 0;
        margin-top: -70px;
        padding-top: 160px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        background: #353535;
        border-radius: 3px;
        display: flex;
        align-items: center;
        @include media($lg){
          margin-top: 0;
          padding-top: 50px;
        }
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #B1FFFF;
          @include media($md){
            text-align: center;
          }
        }
        a{
          background: #4B68FF;
          box-shadow: 0px 0px 6px rgba(75, 104, 255, 0.7);
          border-radius: 6px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          font-feature-settings: 'pnum' on, 'lnum' on;
          padding: 25px 70px;
          color: #B1FFFF;
          text-shadow: 0px 0px 5px rgba(177, 255, 255, 0.7);
          transition: 200ms ease;
          @include media($md){
            padding: 8px 12px;
            margin-top: 25px;
          }
          &:hover{
            background: #B1FFFF;
            color: #404046;
            text-shadow: 0px 0px 5px rgba(177, 255, 255, 0.7);
          }
        }
      }
    }
    &__items{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 100%;
      width: 100%;
      @include media($md){
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      &.lg{
        @include media($lg){
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 36px;
        }
        .popup_s__item{
          @include media($lg){
            width: 100%;
            margin-right: 0;
            padding-left: 20px;
            margin-bottom: 30px;
          }
        }
      }
    }
    &__item{
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-str{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #B1FFFF;
        width: 100%;
        &__img{
          max-width: 35px;
          object-fit: cover;
        }
        &__p{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 180%;
          letter-spacing: 0.03em;
          color: #F8F8F8;
          margin-top: 25px;
          z-index: 1;
          &:first-of-type{
            padding-left: 20px;
          }
          @include media($lg){
            width: 100%;
            text-align: left;
          }
        }
      }
      &_50{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media($md){
          width: 100%;
          margin-bottom: 10px;
        }
      }
      @include media($md){
        width: 100%;
        margin-bottom: 25px;
      }
      &:not(:last-child){
        margin-right: 15px;
      }
      &-img{
        max-width: 100%;
      }
      &-p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #F8F8F8;
        margin-top: 5px;
      }
    }
    &__title{
      font-family: 'Misto';
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 140%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #4B68FF;
      margin-right: 20px;
      @include media($sm){
        font-size: 24px;
      }
    }
    &__subtitle{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      padding-bottom: 12px;
      line-height: 28px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #4B68FF;
    }
    &__p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.03em;
      color: #404046;
      &.fff{
        color: #fff !important;
      }
    }
    &2{
      .popup__body{
        background: #353535;
      }
    }
  }
}

.mb-0{
  margin-bottom: 0 !important;
}
.pb-12{
  padding-bottom: 12px !important;
}


@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(10000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(12000)}px #FFF';
  }

  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

.all-stars{
  // position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  z-index: -10000;
}
#stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation			: animStar 50s linear infinite;
  z-index: -10000;
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    z-index: -10000;
  }
}
    
#stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  z-index: -10000;
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    z-index: -10000;
  }
}
    
#stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
  z-index: -10000;

    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    z-index: -10000;
  }
}
    
@keyframes animStar{
  from{	
    transform: translateY(0px);
  }
  to{
    transform: translateY(-2000px);
  }
}
  
    