mixin calendar()
  .calendar#calendar 
    .calendar__body.container
      h2.stages__title Календарь встреч
      .calendar__content 
        .calendar__content-top
          p.calendar__week Пн
          p.calendar__week Вт
          p.calendar__week Ср
          p.calendar__week Чт
          p.calendar__week Пт
          p.calendar__week Сб
          p.calendar__week Вс
        .calendar__content-body
          .calendar__content-row  
            .calendar__date 1
            .calendar__date 2
            .calendar__date 3
            .calendar__date.active 4
            .calendar__date 5
            .calendar__date 6
            .calendar__date 7
          .calendar__content-row  
            .calendar__date 8
            .calendar__date 9
            .calendar__date 10
            .calendar__date 11
            .calendar__date 12
            .calendar__date 13
            .calendar__date 14
          .calendar__content-row  
            .calendar__date 15
            .calendar__date 16
            .calendar__date 17
            .calendar__date 18
            .calendar__date 19
            .calendar__date 20
            .calendar__date.active 21
          .calendar__content-row  
            .calendar__date 22
            .calendar__date 23
            .calendar__date.active 24
            .calendar__date.active 25
            .calendar__date 26
            .calendar__date 27
            .calendar__date 28
          .calendar__content-row  
            .calendar__date 29
            .calendar__date 30
            .calendar__date 31
            .calendar__date.disabled
            .calendar__date.disabled
            .calendar__date.disabled
            .calendar__date.disabled