mixin calendar()
  .calendar#calendar 
    .calendar__body.container
      h2.stages__title Календарь встреч
      .calendar__month 
        .calendar__vis 
          p(onclick="openMonth(this)").calendar__month-btn Август
          .calendar__vis-content  
            .calendar__col
              div(onclick="addActive(this)").calendar__vis-p Янв
              div(onclick="addActive(this)").calendar__vis-p Фев
              div(onclick="addActive(this)").calendar__vis-p Мар
            .calendar__col
              div(onclick="addActive(this)").calendar__vis-p апр
              div(onclick="addActive(this)").calendar__vis-p Май
              div(onclick="addActive(this)").calendar__vis-p июн
            .calendar__col
              div(onclick="addActive(this)").calendar__vis-p июл
              div(onclick="addActive(this)").calendar__vis-p.active авг
              div(onclick="addActive(this)").calendar__vis-p Сен
            .calendar__col 
              div(onclick="addActive(this)").calendar__vis-p окт
              div(onclick="addActive(this)").calendar__vis-p ноя
              div(onclick="addActive(this)").calendar__vis-p дек
          a(href="#!" onclick="next(this)").calendar__month-next.calendar__month-arrow
            img(src="images/next-arrow.webp", alt="").calendar__month-arrow__img
          a(href="#!" onclick="prev(this)").calendar__month-prev.calendar__month-arrow
            img(src="images/left-arrow.webp", alt="").calendar__month-arrow__img  
      .calendar__content 
        .calendar__content-top
          p.calendar__week Пн
          p.calendar__week Вт
          p.calendar__week Ср
          p.calendar__week Чт
          p.calendar__week Пт
          p.calendar__week Сб
          p.calendar__week Вс
        .calendar__content-body
          .calendar__content-row 
            a(href="#!").calendar__date 1
            a(href="#!").calendar__date 2
            a(href="#!").calendar__date 3
            a(href="#popup2").calendar__date.active 4
            a(href="#!").calendar__date 5
            a(href="#!").calendar__date 6
            a(href="#!").calendar__date 7
          .calendar__content-row  
            a(href="#!").calendar__date 8
            a(href="#!").calendar__date 9
            a(href="#!").calendar__date 10
            a(href="#!").calendar__date 11
            a(href="#!").calendar__date 12
            a(href="#!").calendar__date 13
            a(href="#!").calendar__date 14
          .calendar__content-row  
            a(href="#!").calendar__date 15
            a(href="#!").calendar__date 16
            a(href="#!").calendar__date 17
            a(href="#!").calendar__date 18
            a(href="#!").calendar__date 19
            a(href="#!").calendar__date 20
            a(href="#popup3").calendar__date.active 21
          .calendar__content-row  
            a(href="#!").calendar__date 22
            a(href="#!").calendar__date 23
            a(href="#popup4").calendar__date.active 24
            a(href="#popup5").calendar__date.active 25
            a(href="#!").calendar__date 26
            a(href="#!").calendar__date 27
            a(href="#!").calendar__date 28
          .calendar__content-row  
            a(href="#!").calendar__date 29
            a(href="#!").calendar__date 30
            a(href="#!").calendar__date 31
            a(href="#!").calendar__date.disabled
            a(href="#!").calendar__date.disabled
            a(href="#!").calendar__date.disabled
            a(href="#!").calendar__date.disabled
    img(src="images/calendar.webp", alt="").calendar__img