mixin footer()
  .footer 
    .footer__body.container 
      .footer__top 
        a(href="tel:+380731412063").footer__top-link +380 73 141 20 63
        a(href="mailto:cpiclub@gmail.com").footer__top-link cpiclub@gmail.com
        .footer__socials
          a(href="https://instagram.com")  
            img(src="images/insta.webp", alt="").footer__social
          a(href="https://youtube.com") 
            img(src="images/youtube.webp", alt="").footer__social
    p.footer__copy DESIGN & DEVELOPMENT BY KIRYTON