mixin founder()
  .founder#founder 
    .founder__body.container
      h2.founder__title Сердце клуба
      a(href="#popup").founder__link Мы гордимся каждым участником, <br> <span>Стань новым примером успеха</span>
      img(src="images/founder-cloud.webp", alt="").founder__cloud
      .founder__row 
        .founder__item.founder__item_with-img
          img(src="images/founder-man.webp", alt="founder").founder__item-img
          .founder__item-bottom
            .founder__item-title.founder__item-title_primary Андрей <br>остапчук 
            .founder__item-title.founder__item-title_secondary CEo & <br>Founder
        .founder__item.founder__item_with-text
          p.founder__item-p После  прочтения некоторых  книг меня посетила идея - собрать близких мне людей что бы мы вместе начали вырабатывать новые привычки, ставить цели и достигать их. Так и началась история C.P.I. <br><br>Первая встреча Общества Сильных Личностей состоялась 21 июля 2014 года, на которую пришло четверо моих самых близких друзей. В нашей компании собирались люди, которые хотят от жизни многого и верят, что у них всё получится. Я кайфовал на каждой встрече от общения с такими ребятами.<br><br>С каждым месяцем нас становилось все больше и больше. И уже через год в сообществе было 800 человек. Мы путешествовали по Украине и миру, бегали вместе и реализовывали цели. <br>Моя жизнь кардинально поменялась, когда я познакомился с Вячеславом Лысенко и Сергеем Гайдайчуком. Вместе мы основали проект Young Business Club.
      .founder__row 
        .founder__item.founder__item_with-text
          p.founder__item-p Я была участницей C.P.I. в 2015 году, и благодаря этому - <br>моя жизнь изменилась кардинально. Идея проекта настолько мне резонировала, что пришла мысль его возродить, что бы он мог помогать еще тысячам людей повышать качество своей жизни. С 8 августа 2019 года C.P.I. продолжил свою работу.
        .founder__item.founder__item_with-img_2
          img(src="images/kristina.webp", alt="founder").founder__item-img
          .founder__item-bottom_2
            .founder__item-title.founder__item-title_primary_2 Кристина <br>Матвеева
            .founder__item-title.founder__item-title_secondary_2 Head of pr <br>& Founder
  
  
  
  
  
  .popup#popup
    .popup__body
      h3.popup__title Хочешь развиваться ?
      a(href="#header").popup__close-btn  
        img(src="images/close.webp", alt="").popup__close-btn__img
      p.popup__p чтобы узнать больше о наших программах, оставьте почту. мы расскроем наши секреты и отпавим вам инструкцию
      form(action="#header").popup__form
        input(type="tel" placeholder="Номер телефона").popup__input
        button(type="submit").popup__btn отправить 
    a(href="#header").popup__close 