mixin gallery()
  .gallery#gallery 
    .gallery__body.container 
      .gallery__top   
        .gallery__prev 
          img(src="images/gallery-prev.webp", alt="").gallery__prev-img
        h2.stages__title.gallery__title Жизнь клуба
        .gallery__next
          img(src="images/gallery-next.webp", alt="").gallery__next-img
      .gallery__content 
        img(src="images/gallery-1.webp", alt="").gallery__item
        img(src="images/gallery-2.webp", alt="").gallery__item
        img(src="images/gallery-3.webp", alt="").gallery__item
        img(src="images/gallery-4.webp", alt="").gallery__item
        img(src="images/gallery-5.webp", alt="").gallery__item