mixin header()
  .header#header 
    .header__bg
    .header__body 
      a(href="#top").header__logo
        .header__logo-img
      ul.header__list 
        li.header__li 
          a(href="#mission" onclick="menuToggle()").header__link Миссия
        li.header__li 
          a(href="#we" onclick="menuToggle()").header__link Участникам
        li.header__li 
          a(href="#founder" onclick="menuToggle()").header__link Основатели
        li.header__li 
          a(href="#stages" onclick="menuToggle()").header__link этапы
        li.header__li 
          a(href="" onclick="menuToggle()").header__link Результаты
        li.header__li 
          a(href="" onclick="menuToggle()").header__link Контакты
        li.header__li 
          a(href="#!" onclick="menuToggle()").header__secbtn Вступить 
      a(href="#!").header__btn Вступить 
      button.header__button 
        span.header__button-line


  