mixin intro()
  .intro#intro 
    img(src="images/intro-bg.webp", alt="").intro__bg
    .intro__top 
      .intro__top-inner
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
        .intro__top-item__parent
          img(src="images/stroka.svg", alt="").intro__run
    .intro__body.container 
      h1.intro__title Создай лучшую версию себя
      a(href="#mission").intro__btn Подробнее 