mixin intro()
  .intro#intro 
    img(src="images/intro-bg.svg", alt="").intro__bg
    .intro__top 
      .intro__top-inner
        .intro__top-item__parent
          .intro__top-item 
            img(src="images/right-arrow.webp", alt="right arrow").intro__top-item__img
            p.intro__top-item__p смотри в правильном направлении
          .intro__top-item 
            img(src="images/right-arrow.webp", alt="right arrow").intro__top-item__img
            p.intro__top-item__p начни действовать  уже сейчас
          .intro__top-item 
          img(src="images/right-arrow.webp", alt="right arrow").intro__top-item__img
          p.intro__top-item__p Реализуй свой потенциал  
    .intro__body.container 
      h1.intro__title Создай лучшую версию себя
      a(href="#mission").intro__btn Подробнее 