mixin mission()
  .mission#mission 
    h2.title-with-quote.mission__title Миссия
    p.mission__subtitle Мы экономим твоё время. <br>Объединяем людей общих ценностей, <br>для взаимопомощи и достижения целей 
    .mission__item 
      p.mission__item-p Формула успеха: 50% вашего успеха зависит от вашего ОКРУЖЕНИЯ, 10% от знаний и 40% от мышление
      p.mission__item-abs Thomas J. Leonard <br>Основатель Coach U, Международной федерации тренеров
    img(src="images/mission-bg.webp", alt="mission").mission__img