mixin stages
  .stages#stages  
    .stages__body.container 
      h2.stages__title Этапы твоего развития
      .stages__row
        .stages__col
          .stages__item 
            p.stages__item-link СМОТРЕТЬ
          h3.stages__subtitle 1 ЭТАП
          h4.stages__p Найти себя и реализовать <br>свой потенциал
        .stages__col
          .stages__item 
            p.stages__item-link СМОТРЕТЬ
          h3.stages__subtitle 2 ЭТАП
          h4.stages__p Убрать ограничения на пути к счастью и достичь своей цели
        .stages__col
          .stages__item 
            p.stages__item-link СМОТРЕТЬ
          h3.stages__subtitle 3 ЭТАП
          h4.stages__p Внести вклад в развитие страны и стать частью социально-значимых проектов