mixin we()
  .we#we 
    .we__body.container 
      h2.we__title У нас
      .we__items 
        .we__col
          .we__item.we__item_1-1
            p.we__item-p Дисциплина
          .we__item.we__item_1-2
            p.we__item-p Психологи и коучи
          .we__item.we__item_1-3.we__item-with-value(data-value="+300")
            p.we__item-p организованых <br> мероприятий
          .we__item.we__item_1-4
            p.we__item-p Духовное развитие
        .we__col
          .we__item.we__item_2-1
            p.we__item-p Обучение
          .we__item.we__item_2-2
            p.we__item-p группы развития
          .we__item.we__item_2-3
            p.we__item-p Здоровый образ жизни
        .we__col
          .we__item.we__item_3-1
            p.we__item-p Менторы
          .we__item.we__item_3-2
            p.we__item-p Путешествия
          .we__item.we__item_3-3
            p.we__item-p Окружение
          .we__item.we__item_3-4.we__item-with-value(data-value="+10K")
            p.we__item-p отчётов
