doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CPI
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    #all-stars
      #stars
      #stars2
      #stars3
    #top  
    .vis
      include components/header.pug 
      +header
      include components/intro.pug 
      +intro
    include components/mission.pug 
    +mission
    include components/we.pug 
    +we 
    include components/founder.pug 
    +founder 
    #all-stars
      #stars
      #stars2
      #stars3
    include components/stages.pug 
    +stages 
    #all-stars
      #stars
      #stars2
      #stars3
    include components/result.pug 
    +result 
    include components/calendar.pug 
    +calendar 
    include components/gallery.pug 
    +gallery 
    include components/bottom.pug 
    +bottom 
    include components/footer.pug 
    +footer 
     



    .popup#popup
      .popup__body
        h3.popup__title Хочешь развиваться ?
        a(href="#header").popup__close-btn  
          img(src="images/close.webp", alt="").popup__close-btn__img
        p.popup__p чтобы узнать больше о наших программах, оставьте почту. мы расскроем наши секреты и отпавим вам инструкцию
        form(action="#header").popup__form
          input(type="tel" placeholder="Номер телефона").popup__input
          button(type="submit").popup__btn отправить 
      a(href="#header").popup__close 
    .popup#popup2
      .popup__body
        img(src="images/popup2.webp", alt="its popup").popup2__img
        h3.popup2__title Презентация клуба на международном рынке
        p.popup2__p Если вы давно мечтали вступить в общество успешных и целеустремленных людей, то у вас появилась уникальная возможность...
        .popup2__row 
          p.popup2__price 450 грн
          .popup2__col 
            p.popup2__p.mb-0 4.09 — 18:00
            p.popup2__p.mb-0 Локация ,станция метро
          a(href="#!").popup2__btn подробнее 
          
      a(href="#header").popup__close 
    .popup#popup3
      .popup__body
        img(src="images/popup2.webp", alt="its popup").popup2__img
        h3.popup2__title Презентация клуба на международном рынке
        p.popup2__p Если вы давно мечтали вступить в общество успешных и целеустремленных людей, то у вас появилась уникальная возможность...
        .popup2__row 
          p.popup2__price 850 грн
          .popup2__col 
            p.popup2__p.mb-0 4.09 — 18:00
            p.popup2__p.mb-0 Локация ,станция метро
          a(href="#!").popup2__btn подробнее 

      a(href="#header").popup__close 
    .popup#popup4
      .popup__body
        img(src="images/popup2.webp", alt="its popup").popup2__img
        h3.popup2__title Презентация клуба на международном рынке
        p.popup2__p Если вы давно мечтали вступить в общество успешных и целеустремленных людей, то у вас появилась уникальная возможность...
        .popup2__row 
          p.popup2__price 950 грн
          .popup2__col 
            p.popup2__p.mb-0 4.09 — 18:00
            p.popup2__p.mb-0 Локация ,станция метро
          a(href="#!").popup2__btn подробнее 

      a(href="#header").popup__close 
    .popup#popup5
      .popup__body
        img(src="images/popup2.webp", alt="its popup").popup2__img
        h3.popup2__title Презентация клуба на международном рынке
        p.popup2__p Если вы давно мечтали вступить в общество успешных и целеустремленных людей, то у вас появилась уникальная возможность...
        .popup2__row 
          p.popup2__price 1250 грн
          .popup2__col 
            p.popup2__p.mb-0 4.09 — 18:00
            p.popup2__p.mb-0 Локация ,станция метро
          a(href="#!").popup2__btn подробнее 
        
      a(href="#header").popup__close 
    script(src="scripts/index.js") 