doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CPI
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    #top  
    .vis
      include components/header.pug 
      +header
      include components/intro.pug 
      +intro
    include components/mission.pug 
    +mission
    include components/we.pug 
    +we 
    include components/founder.pug 
    +founder 
    include components/stages.pug 
    +stages 
    include components/result.pug 
    +result 
    include components/calendar.pug 
    +calendar 
    include components/gallery.pug 
    +gallery 
     



    .popup#popup
      .popup__body
        h3.popup__title Хочешь развиваться ?
        a(href="#header").popup__close-btn  
          img(src="images/close.webp", alt="").popup__close-btn__img
        p.popup__p чтобы узнать больше о наших программах, оставьте почту. мы расскроем наши секреты и отпавим вам инструкцию
        form(action="#header").popup__form
          input(type="tel" placeholder="Номер телефона").popup__input
          button(type="submit").popup__btn отправить 
      a(href="#header").popup__close 
    script(src="scripts/index.js") 